
 .container-no-1{
    display: flex;
    background-color: #1f2937;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    
}
@font-face {
    font-family: 'website-name-font';
    src: url('fonts/Redressed-Regular.ttf');
}
.website-name {
    font-size:  35px;
    font-family: website-name-font;
    font-style: bolder;
    color: rgb(23, 196, 187);
}

.divide-to-col{
    display: flex;

    flex: 1;

}

.add-button {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(20, 162, 250);
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    color: #F9FAF8;

}

#testbtn{ 
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: red;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    color: #F9FAF8;


}
 
.main-Text {
    flex: 1;
}

#main-text-container1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;

}
#secondary-text-container1{
    font-size: 18px;
    color: #E5E7EB;
} 
 
.logo{
    width: 75px;
    height: 75px;
    margin-right: 20px;

}
.links{
    /* text-align: right;
    text-align: top; */
    padding-left: 20px;
    font-size: 20px;
    color: white;

}

/* the second part which contain the 4 pics */
.container-no-2{

    display: flex;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    justify-content: center;

}

.divide-boxes{

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 50px;
    justify-content: center;

}

.box1-in-conatiner2{

    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
    padding-bottom: 50px;
    
}
/* 

.box2-in-conatiner2{

    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    
}    */
.images-in-container2{
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

.box2-in-conatiner2-items{
    display: flex;
    flex-direction: column;
    padding-right: 50px;

}
/* This is the third part of the page, The Quote */
.container-no-3{
    display: flex;
    background-color: #E5E7EB;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    justify-content: center;
    
}

.box1-in-conatiner3{
    color: #1F2937;
    font-style: italic;
    font-size: 36px;

}

.name-of-quote-person{
    display: flex;
    justify-content: end;
    margin-right: 20%;
    font-size: 30px;
    font-weight: bold;
    color: black;

}
/* This is the fourth part, the "call for action " box */
.container-no-4{
    display: flex;
    justify-content: center;


}

.box1-in-conatiner4 {
    display: flex;
    margin: 35px;
    padding: 20px;
    justify-items: center;
    border-radius: 20px;
    background-color: #3882F6;

}
.box2-in-conatiner4 {
    flex: 3;
    font-size: 30px;
    color: white;
}
.box3-in-conatiner4{
    display: flex;
    flex: 1 ;
    padding-top: 50px;
    padding-bottom: 50px;
    color: gray;
    justify-content: center;
}
.sign-up-button{
    background-color: rgb(20, 162, 250);
    font-weight: bold;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    color: #F9FAF8;

}
/* The footer contain the "copyright part" */
.container-no-5{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.829);
}




/* the overlay is used in add-button addButton is pressed */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  .overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 200px;
      padding-top:  30px;
      background-Color : 'transparent'; 
      background-color: #3882F6;
      border-radius: 50px;


    }
  input {
    border: none;
    margin-top: 20px;
    margin:  5px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    outline: none; 
  } 
 


  .didYouReadIt {
      color: aliceblue;
  }
 .checkbox{  
     transform: scale(3);

 }
  input[type='text'],
  input[type='number'] {
    cursor: text;
  }
 


  .submit-button {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    background-color: rgb(20, 162, 250);
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    color: #F9FAF8;

  }
  #cancel-button {
      background-color: rgb(161, 0, 0);
  }

  .libraryCards {
      display: flex;
      justify-content: space-evenly;
      font-size: 20px;
      margin: 20px; 
      padding: 20px;  
 
      flex-grow: 1; 
      padding: 50px;
      justify-content: center;
  }

  .cards {
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      margin-right: 25px;
      background-color: rgb(134, 134, 134);
      border-radius: 20px;
  }

  .infoInCards {
      margin: 20px;
  }

  .footer {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.footerImage {
    width: 50px;
    height: 50px;


}