.container {
    display: flex;
    flex-direction: column;


}

.header {
    background-color: red;
    font-weight: bolder;
    padding: 20px;
    font-size: 25px;
    display: flex;
}

.mainBody {
    background-color: green;
    display: flex;
}

.libraryDisplay {
    background-color: blue;
    display: flex;
}

